:root {
    --mainNav-bg: #EAEAEA;
    --questrial: 'Questrial', sans-serif;
    --puritan: 'Puritan', sans-serif;
    --pathway: 'Pathway Gothic One', sans-serif;
    --cyanblue: #4DA1B9;
    --darkblue: #034078;
    --midblue: #001F54;
    --blackblue: #0A1128;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 60px;
}

/* Working on the Top Navigation Bar - Sticky */
.mainNav {
    font-family: var(--questrial);
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: var(--mainNav-bg);
    box-shadow: 0px 2px 15px #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.iconNav {
    width: 50px;
    height: 50px;
}

.uppernavLeft {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.uppernavRight {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.uppernavLeft li a, .uppernavRight li a {
    text-decoration: none;
    color: black;
}

.uppernavLeft li a:visited, .uppernavLeft li a:active, .uppernavRight li a:active, .uppernavRight li a:visited {
    color: black;
}

.unl1, .unl2, .unl3 {
    margin-right: 20px;
    margin-top: 15px;
}

.unl4 {
    margin-top: 15px;
}

.unlimg {
    margin-right: 20px;
    margin-top: 2px;
}

.unr1 ,.unr2, .unr3 {
    margin-right: 20px;
    margin-top: 15px;
}

.unr4 {
    margin-top: 2px; 
}
.unr5 {
    margin-left: 10px;
    margin-top: 15px;
}

.unr5:hover {
    text-decoration: underline;
}


@keyframes rotate {
    from {transform: rotate(270deg);
    color: black;}
    to {transform: rotate(630deg);
    color: gray;
    }
}

.ddt {
    transform: rotate(270deg);
}

.ddt:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}

.unl1:hover, .unl2:hover, .unl3:hover, .unl4:hover, .unr:hover {
    text-decoration: underline;
    cursor: pointer;
}

.unr1:hover, .unr2:hover, .unr3:hover {
    transform: scale(1.1);
}

/* End of Navigation Bar - Sticky */

/* Start of Secondary Nav */

.blueNav {
    font-family: var(--questrial);
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: var(--cyanblue);
    box-shadow: 0px 2px 15px #000000;
    padding: 10px 0px;
    z-index: 5;
} 

.blueNav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.blueNav ul li a {
    text-decoration: none;
    color: black;
}

.blueNav ul li:hover {
    text-decoration: underline;
}

.ContactUs {
    margin-right: 110px;
}

.loans {
    margin-left: 115px;
}

/* Page Background */

.cardDiv {
    z-index: 10;
    padding-top: 50px;
    margin-left: 175px;
    padding-bottom: 50px;
}

.sectionOne {
    background-image: url("../assets/pagebgs/bg2.png");
    background-size:cover;
    padding-bottom: 100px;
}

/* Section 2 - Why Choose */

.sectionTwo {
    margin-top: 30px;
}

.whyChoose {
    font-family: var(--puritan);
    font-size: 48px;
    margin-left: 175px;
}

.hr1 {
    margin-left: 175px;
    height: 10px;
    color: black;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

@keyframes imageMag {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}


.cards div img:hover {
    cursor: pointer;
    animation: imageMag 2s;
}

.reasonCard1 {
    margin-left: 70px;
}

.reasonCard3 {
    margin-right: 70px;
}

/* Section 3 CSS */

.sectionThree {
    background-image: url('../assets/pagebgs/bg7.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 24px;
    padding-bottom: 20px;
}

.accessUs {
    font-family: var(--puritan);
    font-size: 48px;
    margin-left: 175px;
    padding-top: 25px;
}

.h2 {
    width: 10%;
}

.l1 {
    font-family: var(--puritan);
    font-size: 38px;
    width: 85%;
    margin-left: 10%;
    margin-top: 10px;
}

.icons1 {
    margin-left: 9%;
    margin-top: 10px;
}

.icons1 a img {
    width: 70px;
    margin-left: 20px;
}

.icons1 img {
    width: 70px;
    margin-left: 20px;
}

@keyframes scale {
    from {
        transform: scale(1);
        transform: rotate(0deg);
    }
    to {
        transform: scale(1.05);
    }
}

.icons1 a img:hover {
    animation: scale 0.5s;
    cursor: pointer;
}

.email {
    text-decoration: none;
    color: var(--darkblue);
}

/* Section 4 */

.sectionFour {
    margin-top: 50px;
}

.reviewImg {
    margin-left: 20%;
    margin-top: 25px;
}

.reviewImg:hover {
    animation: imageMag 2s;
    cursor: pointer;
}

.quotes:hover {
    animation: imageMag 2s;
    cursor: pointer;
}

.footer {
    width: 100%;
    margin-bottom: -10px;
    margin-top: 50px;
}